body {
    display: grid;
    justify-items: center;
    font-family: Arial, sans-serif;
    background-color:rebeccapurple;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    background-color:purple;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    
}
.container h3{
    text-align: center;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container input{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.container button{
    background-color: white;
    color:rebeccapurple;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.container button:hover{
    background-color:black;
}

